:root {
    --primary-color: #4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --seccess-color: #31D0AA;
    --text-color:#434455;
    --subtitle-color: #8E8F99;
    --accent-color:#E7E9FC;
    --light-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --hero-back-color:#2E2F42;
    --white-back-color: #FFFFFF;
    --modal-back-color: #FCFCFC;
  }

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--text-color);
    background-color: var(--white-back-color);
}

ol,ul {
list-style-type: none;
}

a {
    text-decoration:none;
    color:currentColor
  }


h2 {
 color: var(--dark-color);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

h3 {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
    line-height: 1.2;
}
.link {
    text-decoration: none;
    list-style: none;
}
.page {
}
.header {
}
.header-nav {
}
.logo { 
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--primary-color);
}
.logo-studio {
    color: var(--dark-color)
}
.header-menu {
}

.header-list {
    color: var(--dark-color);
    font-weight: 500;
}

.link:hover,
.link:focus {
    color: var(--pressed-color);
}

.address {
    font-style: normal;
}
.header-adress {
   
}

.main {
}
.section {
}
.top {
    background-color: var(--dark-color);
}
.top-title {
color: var(--white-back-color);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
}
.top-btn {
color: var(--white-back-color);
font-weight: 500;
letter-spacing: 0.64px;
line-height: 1.5;
background-color: var(--primary-color);
cursor: pointer;
}
.top-btn:focus,
.top-btn:hover {
    background-color: var(--pressed-color);
}
.preference {
}
.preference img {
}
.list {
}
.preference-title { 
}
.preference-text {

}
.what {
}
.what-block {
}
.what-list {
}
.team {
    background-color: var(--light-color);
}
.team img {
}
.team-block {
}
.team-list {
    background: var(--white-back-color);
    }
.team-title {
    line-height: 1.2;
}
.team-text {
}
.footer {
    background-color: var(--dark-color);
}
.footer .logo-studio {
    color: var(--light-color);
}
.footer-text {
    color: var(--light-color);
}
.port {
}
.filter {
}
.filter-list {
}
.filter-btn {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--light-color);
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-back-color);
    background-color: var(--pressed-color);
    }
.cards{
}
.cards img {
}
.cards-list {
    background: var(--white-back-color);
}
.cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.cards-text {
}