:root {
    --primary-color: #4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --seccess-color: #31D0AA;
    --text-color:#434455;
    --subtitle-color: #8E8F99;
    --accent-color:#E7E9FC;
    --light-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --hero-back-color:#2E2F42;
    --white-back-color: #FFFFFF;
    --modal-back-color: #FCFCFC;
  }

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--text-color);
    background-color: var(--white-back-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ol,ul {
list-style: none;
margin: 0;
padding-left: 0;
}

a {
    text-decoration:none;
    color:currentColor
  }

h2 {
 color: var(--dark-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

h3 {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.container {
    min-width: 320px;
    max-width:428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    outline: red 2px solid;
    outline-offset: -2px;
}

@media only screen and (min-width: 768px) {
  .container {
      max-width: 768px;
  } 
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
    list-style: none;
}
.link:hover,
.link:focus {
    color: var(--pressed-color);
}
.page {
}
/* HEADER */
.header {
    

}
.header-block {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--modal-back-color);
    background: var(--white-back-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo { 
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-right: 76px;
}
.logo-studio {
    color: var(--dark-color)
}
.header-menu {
    gap: 40px;
    display: flex;
}

.header-link {
    position: relative;
    color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link {

}
@media only screen and (max-width:1157px) {
    .address-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
    }
}
.header-list {
    color: var(--dark-color);
    font-weight: 500;
    display: flex;
    gap: 20px;
}
.header-link:focus,
.header-link:hover {
    color: var(--pressed-color);
}
.header-link.active {
    color: var(--pressed-color);
}
.header-link.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom:-1px;
    left:0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border-color: transparent;
    background: var(--pressed-color);
}
.address {
    font-style: normal;
    margin-left: auto;
}
.header-adress {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 1157px) {
  .header-adress {
      display: flex;
      flex-direction: column;
      gap: 12px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (max-width: 767px) {
.header-adress {
    display: none;
  }
  .header-menu {
    display: none;
  }
}
/* MAIN */

.main {
}
.section {
}
.section-top {
    max-width: 428px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url("../images/topbg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
@media only screen and (min-width: 768px) {
  .section-top {
      max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-top {
      max-width: 1440px;
  } 
}
.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 188px;
    padding-bottom: 188px;

}
.top-title {
color: var(--white-back-color);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
text-align: center;
max-width: 496px;
}

@media only screen and (max-width: 767px) {
   .top-title {
    font-size: 36px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
}

.top-btn {
display: block;
color: var(--white-back-color);
font-weight: 500;
letter-spacing: 0.64px;
line-height: 1.5;
background-color: var(--primary-color);
cursor: pointer;
min-width: 169px; 
height: 56px;
padding: 16px 32px;
border-radius: 4px ;
gap: 10px;
box-shadow: 0px 4px 4px 0px #00000026;
margin-top: 72px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .top-btn {
    margin-top: 36px;
  }
}

@media only screen and (min-width: 1158px) {
    .top-btn {
        margin-top: 48px;
    }
}
.top-btn:focus,
.top-btn:hover {
    background-color: var(--pressed-color);
}
.preference {
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
.preference {
        padding: 120px 0;
    }
}

.preference-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
    .preference-list {
    flex-direction: column;

  }
}
@media only screen and (min-width: 768px) {
    .preference-block {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
  .preference-block {
      width: calc((100% - 72px) / 4);
  } 
}

.pref-icons {
    width:100%;
    height:112px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
@media only screen and (max-width: 1157px) {
.pref-icons {
    display: none;
  }
}
.pref-svg {
    margin: 24px 100px;
}

.preference-title { 
    margin-bottom: 8px;
}

@media only screen and (max-width: 1157px) {
  .preference-title {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .preference-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  } 
}
@media only screen and (max-width: 1157px) {
  .what {
      padding-bottom: 120px;
      display: none;
  } 
}
.what .section-title {
    margin-bottom: 72px;
}
.what-block {
    display: flex;
    gap: 24px;
}
.what-item {
    border: 1px solid var(--accent-color);
    width: calc((100% - 48px) / 3);
}
.team {
    background-color: var(--light-color);
}
.team-div {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .team-div {
    padding-top: 120px;
    padding-bottom: 120px;
  } 
}
.team img {
 
}
.team-block {
    padding: 32px 0;
}
.team .section-title {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction:row;
  }
}

.team-item {
    background: var(--white-back-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 1158px) {
  .team-item {
      width: calc((100% - 72px) / 4);
  } 
}

.team-title {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px
}
.team-text {
    text-align: center;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.social-links {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.social-links .link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .link:focus,
.social-links .link:hover {
background-color: var(--pressed-color);
}

.social-svg {
    margin: 12px;
    fill: var(--light-color)}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0
}
@media only screen and (min-width: 1158px) {
  .clients {
      padding: 120px 0
  }
}
.clients-div .section-title {
        margin-bottom: 72px;
}
.clients-div {
    flex-shrink: 0;
}
@media only screen and (min-width: 768px) {
    .clients-div {
    }
}
@media only screen and (min-width: 1158px) {
  .clients-div {
      height: 200px;
  }
}
.clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .clients-list {
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .clients-list {
      align-items: flex-start;
      flex-wrap: nowrap;
  } 
}
.clients-block {
    width: 168px;
    height: 88px;
    flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
  .clients-block {
      width: 190px;
  }
}
.clients-links {
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtitle-color);
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--subtitle-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-links:focus,
.clients-links:hover {
    color: var(--pressed-color);
    border-color: var(--pressed-color);
}
.clients-logo {
    margin: 16px 32px;
    fill: currentColor;
}
@media only screen and (max-width: 767px) {
  .clients-logo {
      margin: 16px 40px;
  }
}
/* FOOTER */

.footer {
    background-color: var(--dark-color);
}

.footer-block {
    padding: 96px 0;
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-block {
    flex-wrap: wrap;
      flex-direction: row;
      justify-content: left;
      align-items: flex-start;
      gap: 24px;
    padding: 96px 0 96px 108px;
  } 
}
@media only screen and (min-width: 1158px) {
  .footer-block {
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: nowrap;
      align-items: baseline;
      gap: 0;
  } 
}
@media only screen and (max-width: 767px) {
  .footer-logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}
.footer .logo-studio {
    color: var(--light-color);
}
.footer-text {
    width: 264px;
    color: var(--light-color);
}
.footer-social-block {
    margin-left: 0px;
        display: flex;
        margin-left: 0px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}    
@media only screen and (min-width: 768px) {
    .footer-social-block {
        margin-left: 0px;
        align-items: start;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1158px) {
  .footer-social-block {
      margin-left: 120px;
  } 
}
.footer-social-title {
    color: var(--white-back-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.footer-list {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.footer-social {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.footer-social-links {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover,
.footer-social-links:focus {
    background-color: var(--seccess-color);
}
.footer-svg {
    fill: var(--light-color);
    margin: 8px;
}

  .footer-subs-block {
      margin-left: 0px;
  } 
@media only screen and (min-width: 1158px) {
    .footer-subs-block {
        margin-left: 80px;
    }
}

.footer-subs-title {
    color: var(--white-back-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .footer-subs-title {
text-align: center;
      margin-bottom: 16px;
  } 
}
.footer-subs-form {
    display: flex;
    gap: 24px;
}
@media only screen and (max-width: 767px) {
  .footer-subs-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
  } 
}
.footer-subs-label {}

.footer-subs-input {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--white-back-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: var(--white-back-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
}
.footer-subs-input::placeholder {
    color: var(--white-back-color);
}

.btn-footer {
    display: flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--primary-color);
    border: none;
    color: var(--white-back-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    font-size: 16px;
}

.footer-subs-svg {
    margin-left: 16px;
    fill: var(--white-back-color);
}

/* PORTFOLIO */

.port {
    padding-top: 172px;
    padding-bottom: 120px;
}
.filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.filter-list {
}
.filter-btn {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--light-color);
    padding: 12px 24px 12px 24px ;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-back-color);
    background-color: var(--pressed-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.cards{
}
.overlay-block {
position: relative;
overflow: hidden;
}
.cards-block {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}
.cards-list {
    background: var(--white-back-color);
    border: 1px solid var(--accent-color);
    width: calc((100% - 48px) / 3);
}
.cards-links {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-links:hover,
.cards-links:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-links:hover .overlay-text,
.cards-links:focus .overlay-text {
    transform: translateY(0%);
}
.overlay-text {
    position: absolute;
    top: 0;
    color: var(--light-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
}
.cards-text {
}
/* MODAL WINDOW */
.modalwind {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modalwind.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
        padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%) scale(1);

    width: 408px;
    min-height: 584px;
    background-color: var(--modal-back-color);
    border-radius: 4px;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn {
    position: absolute;
    z-index: 10;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-svg {
    stroke: var(--dark-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-svg,
.modal-btn:focus .modal-svg{
    fill: #ffffff;
}

.callback-form {
    color: var(--subtitle-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.48px;
}
.form_capitel {
    width: 360px;
    margin-bottom: 16px;
    color: var(--dark-color);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.modal-form-block {
    margin-bottom: 8px;

}
.modal-form-field {
    position: relative;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}

.modal-form-label {
    position: relative;
    display: block;
    margin-bottom: 4px;
}


.modal-form-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: var(--overlay-color);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    padding: 8px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: var(--primary-color);
}
.modal-form-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}
.modal-form-comment {
    margin-bottom: 16px;
}
.modal-form-textarea::placeholder {
    font-size: 12px;
}

.modal-form-textarea:focus {
    border-color: var(--primary-color);
}
.modal-form-icon {
    position: absolute;
    left: 16px;
    bottom: 11px;
    fill: var(--overlay-color);
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
   fill: var(--primary-color);
}
.submit-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    border-radius: 4px;
    background: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:focus,
.submit-btn:hover {
    background-color: var(--pressed-color);
}

.modal-agreement-block {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    margin-bottom: 24px;
}
.modal-form-agreement {
    color: var(--subtitle-color);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
}
.modal-form-custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked+.modal-form-agreement>.modal-form-custom-checkbox {
    fill: var(--light-color);
    border: none;
    background-color: var(--pressed-color);
}

.modal-form-checkbox-icon {
    opacity: 0;
    transform: scale(0.3);
    fill: var(--primary-color);
    transition: opacity 300ms cubic-bezier(0, 0, 1, 1.8) 150ms,
        transform 300ms cubic-bezier(0, 0, 1, 1.8) 150ms;
}

.modal-form-link {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Mobile menu */
.menu-toggle {
    min-height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: var(--pressed-color);
    stroke: var(--light-color);
}

.menu-toggle-icon {
    stroke: var(--dark-color);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--white-back-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu {
    width: fit-content;
    margin-top: 80px;
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    color: var(--dark-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-networks {
    display: flex;
    gap: 56px;
    margin-top: 48px;
}

.mobile-networks-item {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.mobile-networks-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-networks-icon {
    margin: 8px;
    fill: var(--light-color);
}
.mobile-networks-link:focus,
.mobile-networks-link:hover {
    background-color: var(--pressed-color);
}

.mobile-adress {}

.mobile-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-phone {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-email {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}