:root {
    --primary-color: #4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --seccess-color: #31D0AA;
    --text-color:#434455;
    --subtitle-color: #8E8F99;
    --accent-color:#E7E9FC;
    --light-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --hero-back-color:#2E2F42;
    --white-back-color: #FFFFFF;
    --modal-back-color: #FCFCFC;
  }

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--text-color);
    background-color: var(--white-back-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ol,ul {
list-style: none;
margin: 0;
padding-left: 0;
}

a {
    text-decoration:none;
    color:currentColor
  }

h2 {
 color: var(--dark-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

h3 {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
    list-style: none;
}
.link:hover,
.link:focus {
    color: var(--pressed-color);
}
.page {
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--modal-back-color);
    background: var(--white-back-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}
.header-block {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    background: var(--white-back-color);
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo { 
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-right: 76px;
}
.logo-studio {
    color: var(--dark-color)
}
.header-menu {
    gap: 40px;
    display: flex;
}

.header-link {
    position: relative;
    padding: 24px 0;
    color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list {
    color: var(--dark-color);
    font-weight: 500;
    display: flex;
    gap: 20px;
}
.header-link:focus,
.header-link:hover {
    color: var(--pressed-color);
}
.header-link.active {
    color: var(--pressed-color);
}
.header-link.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom:-1px;
    left:0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border-color: transparent;
    background: var(--pressed-color);
}
.address {
    font-style: normal;
}
.header-adress {
gap: 40px;
justify-content: end;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN */

.main {
}
.section {
}
.section-top {
    background-color: var(--dark-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
                      url("../images/topbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-size: cover;

}
.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-title {
color: var(--white-back-color);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
text-align: center;
max-width: 496px;
}
.top-btn {
display: block;
color: var(--white-back-color);
font-weight: 500;
letter-spacing: 0.64px;
line-height: 1.5;
background-color: var(--primary-color);
cursor: pointer;
min-width: 169px; 
height: 56px;
padding: 16px 32px 16px 32px ;
border-radius: 4px ;
gap: 10px;
box-shadow: 0px 4px 4px 0px #00000026;
margin-top: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-btn:focus,
.top-btn:hover {
    background-color: var(--pressed-color);
}
.preference {
    padding: 120px 0;
}
.preference-list {
    gap: 24px;
}
.preference-block {
    width: calc((100% - 72px) / 4);
}
.pref-icons {
    width:100%;
    height:112px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.pref-svg {
    margin: 24px 100px;
}
.preference img {
}

.list {
    display: flex;
}
.preference-title { 
    margin-bottom: 8px;
}
.preference-text {

}
.what {
    padding-bottom: 120px;
}
.what .section-title {
    margin-bottom: 72px;
}
.what-block {
    display: flex;
    gap: 24px;
}
.what-item {
    border: 1px solid var(--accent-color);
    width: calc((100% - 48px) / 3);
}
.team {
    background-color: var(--light-color);
    padding: 120px 0;
}
.team-div {
   
}
.team img {
 
}
.team-block {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}
.team .section-title {
    margin-bottom: 72px;
}
.team .list {
    gap: 24px;
}
.team-item {
    background: var(--white-back-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-title {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px
}
.team-text {
    text-align: center;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.social-links {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.social-links .link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .link:focus,
.social-links .link:hover {
background-color: var(--pressed-color);
}

.social-svg {
    margin: 12px;
    fill: var(--light-color)}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0
}
.clients-div .section-title {
        margin-bottom: 72px;
}
.clients-div {
    padding: 0;
    width: 1128px;
    height: 200px;
    flex-shrink: 0;
}

.clients-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.clients-block {
    width: 168px;
    height: 88px;
    flex-shrink: 0;
}
.clients-links {
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtitle-color);
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--subtitle-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-links:focus,
.clients-links:hover {
    color: var(--pressed-color);
    border-color: var(--pressed-color);
}
.clients-logo {
    margin: 16px 32px;
    fill: currentColor;
}

/* FOOTER */

.footer {
    background-color: var(--dark-color);
    padding: 100px 0
}
.footer-block {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}
.footer-logo-block {
    display: flex;
flex-direction: column;
margin-right: 120px
}
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer .logo-studio {
    color: var(--light-color);
}
.footer-text {
    display: flex;
    width: 264px;
    flex-direction: column;
    color: var(--light-color);
}
.footer-social-block {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 16px;
}    
.footer-social-title {
    color: var(--white-back-color);
        /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.footer-list {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.footer-social {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.footer-social-links {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover,
.footer-social-links:focus {
    background-color: var(--seccess-color);
}
.footer-svg {
    fill: var(--light-color);
    margin: 8px;
}

/* PORTFOLIO */

.port {
    padding-top: 96px;
    padding-bottom: 120px;
}
.filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.filter-list {
}
.filter-btn {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--light-color);
    padding: 12px 24px 12px 24px ;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-back-color);
    background-color: var(--pressed-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.cards{
}
.cards-block {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}
.cards img {
}
.cards-list {
    background: var(--white-back-color);
    border: 1px solid var(--accent-color);
    width: calc((100% - 48px) / 3);
}
.cards-links {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-links:hover,
.cards-links:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
}
.cards-text {
}
/* MODAL WINDOW */
.modalwind {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 250ms ease-out, visibility 250ms ease-out;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modalwind.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);

    width: 408px;
    height: 584px;

    border-radius: 4px;
    background: var(--modal-back-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.modal-svg {
    stroke: var(--dark-color);
}