:root {
    --primary-color: #4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --seccess-color: #31D0AA;
    --text-color:#434455;
    --subtitle-color: #8E8F99;
    --accent-color:#E7E9FC;
    --light-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --hero-back-color:#2E2F42;
    --white-back-color: #FFFFFF;
    --modal-back-color: #FCFCFC;
  }

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--text-color);
    background-color: var(--white-back-color);
}

ol,ul {
list-style-type: none;
}

a {
    text-decoration:none;
    color:currentColor
  }


h2 {
 color: var(--dark-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 2.5;
letter-spacing: 0.72px;
text-transform: capitalize;
}

h3 {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
}
.link {
    text-decoration: none;
    list-style: none;
}
.page {
}
.header {
    border-bottom: 1px solid var(--accent-color);
}
.header-nav {
}
.logo { 
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--primary-color);
}
.logo-studio {
    color: var(--dark-color)
}
.header-menu {
}

.header-list {
    color: var(--dark-color);
    font-weight: 500;
}
.header-link:hover,
.header-link:focus {
    color: var(--pressed-color);
}
.header-link {
    
}
.address {
    font-style: normal;
}
.header-adress {
   
}
.address-list {
}
.address-link:hover,
.address-link:focus {
    color: var(--pressed-color);
}

.main {
}
.section {
}
.top {
    background-color: var(--dark-color);
}
.top-title {
color: var(--white-back-color);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
}
.top-btn {
color: var(--white-back-color);
font-weight: 500;
letter-spacing: 0.64px;
line-height: 1.5;
background-color: var(--primary-color);
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
cursor: pointer;
}
.top-btn:focus,
.top-btn:hover {
    background-color: var(--pressed-color);
}
.preference {
}
.preference img {
    width: 360px;
}
.list {
}
.preference-title { 
    text-align: left;
}
.preference-text {

}
.what {
}
.what-block {
}
.what-list {
    border: 1px solid var(--accent-color);
}
.team {
    background-color: var(--light-color);
}
.team img {
    width: 264px;
}
.team-block {
}
.team-list {
    border-radius: 0px 0px 4px 4px;
    background: var(--white-back-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-title {
    line-height: 1.11
}
.team-text {
    text-align: center;
}
.footer {
    background-color: var(--dark-color);
}
.footer .logo-studio {
    color: var(--light-color);
}
.footer-text {
    color: var(--light-color);
}
.port {
}
.filter {
}
.filter-list {
}
.filter-btn {
    color: var(--primary-color);
    text-align: center;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    background: var(--white-back-color);
}
.filter-btn:active {
    color: var(--white-back-color);
    border-radius: 4px;
    background: var(--pressed-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.cards{
}
.cards img {
    width: 360px;
}
.cards-list {
    border: 1px solid var(--accent-color);
    background: var(--white-back-color);
}
.cards-title {text-align: left;
}
.cards-text {text-align: left;
}