:root {
    --primary-color: #4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --seccess-color: #31D0AA;
    --text-color:#434455;
    --subtitle-color: #8E8F99;
    --accent-color:#E7E9FC;
    --light-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --hero-back-color:#2E2F42;
    --white-back-color: #FFFFFF;
    --modal-back-color: #FCFCFC;
  }

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--text-color);
    background-color: var(--white-back-color);
}

ol,ul {
list-style-type: none;
}

a {
    text-decoration:none;
    color:currentColor
  }


h2 {
 color: var(--dark-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

h3 {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
    line-height: 1.2;
}

img {
    display: block;
}

.container {
    width: 1158px;
}
.link {
    text-decoration: none;
    list-style: none;
}
.page {
}
.header {
    border-bottom: 1px solid var(--accent-color);
}
.header-block {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav {
    display: flex;
    align-items: center;;
}
.logo { 
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-right: 76px;
}
.logo-studio {
    color: var(--dark-color)
}
.header-menu {
    gap: 40px;
    display: flex;
 
}

.header-list {
    color: var(--dark-color);
    font-weight: 500;
    padding: 24px 0;
}

.link:hover,
.link:focus {
    color: var(--pressed-color);
}

.address {
    font-style: normal;
}
.header-adress {
display: flex;
gap: 40px;
}

.main {
}
.section {
}
.top {
    background-color: var(--dark-color);
    padding: 188px 0;
}
.top-title {
color: var(--white-back-color);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
text-align: center;
}
.top-btn {
color: var(--white-back-color);
font-weight: 500;
letter-spacing: 0.64px;
line-height: 1.5;
background-color: var(--primary-color);
cursor: pointer;
width: 169px; 
padding: 16px 32px 16px 32px ;
border-radius: 4px ;
gap: 10px;
box-shadow: 0px 4px 4px 0px #00000026;
}
.top-btn:focus,
.top-btn:hover {
    background-color: var(--pressed-color);
}
.preference {
    padding: 120px 0;
}
.preference-block {
    width: 264px;
    gap: 8px;
}
.preference img {
}
.list {
    display: flex;
}
.preference-title { 
}
.preference-text {

}
.what {
}
.what-block {
    display: flex;
}
.what-list {
    border: 1px solid var(--accent-color);
}
.team {
    background-color: var(--light-color);
}
.team img {
}
.team-block {
    width: 232px;
    gap: 8px;
}
.team-list {
    background: var(--white-back-color);
    }
.team-title {
    line-height: 1.2;
}
.team-text {
}
.footer {
    background-color: var(--dark-color);
}
.footer-block {
    padding: 100px 0;
}
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer .logo-studio {
    color: var(--light-color);
}
.footer-text {
    color: var(--light-color);
}
.port {
}
.filter {
gap: 24px;
}
.filter-list {
}
.filter-btn {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--light-color);
    padding: 12px 24px 12px 24px ;
    border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-back-color);
    background-color: var(--pressed-color);
    }
.cards{
}
.cards-row {
width: 1128px; 
border: 1px solid var(--accent-color);
}
.cards img {
}
.cards-list {
    background: var(--white-back-color);
    border: 1px solid var(--accent-color);
}
.cards-content {
width: 360px;
padding: 0px 16px 0px 16px; 
gap: 8px;
}
.cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.cards-text {
}